body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: black;
    font-size: 4.5rem;
    text-align: center;
}

h2 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 1.75rem;
}
div {
    margin: 10px auto;
    text-align: center;
}

.grp {
    width: 150px;
    margin: 10px;
    height: 50px;
    font-size: 20px;
}

label {
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #551A8B;
}
